<div class="links clearfix">
    <ul class="links-menu">
        <li><a href="/create-category/">Создать новую категорию</a></li>
    </ul>
</div>
<div class="container">
    {% for item in objects_list %}
    <div class="location-1">
        <div class="text">
            <img src="../img/icon-hover.png" alt="">
            <p>{{item.id}}. {{item.name}}</p>
            <span>Количество продуктов: {{products_count_by_category(item.id)}}</span>
            <br>
            <a href="/products-list/?id={{item.id}}">Показать продукты</a>
            <span><a href="/delete-category/?id={{item.id}}">Удалить</a></span>
        </div>
    </div>
    {% endfor %}
</div>