<div class="details">
    <div class="half">
        <p>Ваши пожелания</p>
    </div>
</div>
<div class="container">
    <form action="" method="post" class="location">
        <div class="text-footer location h4">
            <input type="text" name="name" placeholder="Ваше Имя">
            <input type="email" name="email" placeholder="Ваш email">
            <br><br>
            <span class="title">Ваш город:</span>
            <br>
            <select class="loc">
                <option value="msk">Москва</option>
                <option value="spb">Санкт-Петербург</option>
                <option value="ebr">Екатеринбург</option>
                <option value="kzn">Казань</option>
                <option value="smr">Самара</option>
                <option value="nsb">Новосибирск</option>
            </select></p>
            <span class="title">Являетесь участником?</span>
            <label><input type="radio" name="member" value="yes"/> Да</label>
            <label><input type="radio" name="member" value="no"/> Нет</label></p>
        </div>
        <div class="text-footer location h4">
            <input class="loc" name="suggestion" placeholder="Введите пожелание">
            <input type="submit" class="button-order" value="Оставить отзыв"/>
        </div>
    </form>

    <div class="clr"></div>
</div>