{% extends "base.html" %}
{% block title %}
    Создание категории товаров | Админка
{% endblock %}

{% block menu %}
    {% include "particles/_create_categories_menu.html" %}
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <div class="text-footer location h4">
                <input class="loc" name="name" placeholder="Название категории">
                <input type="submit" class="button-order" value="Сохранить"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "particles/_footer.html" %}
{% endblock %}